section {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: -8px auto 0;
  border-left: 1px solid rgba(46, 139, 87, 0.7);
}

section > a {
  text-align: right;
  padding: 15px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  display: block;
  text-align: left;
}

li div {
  padding: 10px;
  background-color: #fff;
}

li > div {
  border: 1px solid #f6f6ff;
}

li,
li > div > div {
  border-right: 1px dashed black;
  border-bottom: 1px solid black;
}

li div p {
  font-size: calc(10px + 0.8vmin);
  margin: 8px 0;
}

div:first-child > p:first-child {
  font-size: calc(10px + 1vmin);
  font-weight: 400;
}
